<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="copyright">
    <h5>©jjii!</h5>
  </div>
  <div class="skill_used">
    <span class="d-flex">
      <h5 class="skill">skillused</h5>
      <span class="skill">BOOTSTRAP, Node.js express, ejs</span>
    </span>
  </div>
</div>
