<ul
  class="d-flex justify-content-center align-items-center list-unstyled"
  id="menu_bar"
>
  <li class="header_menu">
    <a class="text-decoration-none p-2" href="/blog">story(블로그)</a>
  </li>
  <li class="header_menu">
    <a class="text-decoration-none p-2" href="/recommend">여행정보(api)</a>
  </li>
  <li class="header_menu">
    <a class="text-decoration-none p-2" href="recommend">예약하기</a>
  </li>
  <li class="header_menu">
    <a class="text-decoration-none p-2" href="/information">
      회사 정보(지도 api)
    </a>
  </li>
  <li class="header_menu">
    <a class="text-decoration-none p-2" href="/QnA">chat Q&A</a>
  </li>
  <li class="header_menu">
    <i class="fa-solid fa-magnifying-glass">(검색)</i>
  </li>
</ul>
<div class="logo"><a href="/" class="text-decoration-none">홈으로</a></div>
<div class="signin_box d-flex justify-content-end">
  <div class="signin">
    <a href="/login" class="text-decoration-none">로그인</a>
  </div>
  <div class="signup">
    <a href="/register" class="text-decoration-none">회원가입</a>
  </div>
</div>
