<div class="signin_box d-flex justify-content-end">
  <div class="signin">
    <a href="/login" class="text-decoration-none">로그인</a>
  </div>
  <div class="signup">
    <a href="/register" class="text-decoration-none">회원가입</a>
  </div>
</div>
<div class="log"><a href="/" class="text-decoration-none">홈으로</a></div>
