<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Document</title>
    <%- include('./particle/head')%>
  </head>
  <body>
    <header><%- include('./particle/header')%></header>
    <div class="d-flex">
      <div class="col-10 bg-info"></div>
      <div class="col-2 bg-warning">
        <ul>
          <input type="checkbox" name="name" value="13" />
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <footer><%-include('./particle/footer')%></footer>
  </body>
</html>
