<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Document</title>
    <%- include('./particle/head')%>
  </head>
  <body>
    <header><%- include('./particle/header')%></header>
    <footer><%-include('./particle/footer')%></footer>
  </body>
</html>
